@charset "utf-8";

body{font-family: 'microsoft yahei';min-width:1000px;}
/**
 * UI样式表
 */
.text{
	border: 1px solid #ddd; 
	padding: 5px;
	height: 34px;
	font:14px/34px 'microsoft yahei';
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;

	-webkit-box-shadow: inset 0 1px 2px #f6f6f6;
	-moz-box-shadow: inset 0 1px 2px #f6f6f6;
	-o-box-shadow: inset 0 1px 2px #f6f6f6;
	-ms-box-shadow: inset 0 1px 2px #f6f6f6;
	box-shadow: inset 0 1px 2px #f6f6f6;
}
.btn{border:none; background: none;}

/**
 * 页面宽度
 */
.w1000{width:1000px;margin:0 auto;}
.body-skin{padding: 50px 0;}
/**
 * 顶部通栏
 */
.site-top{background: #fafafa;height:50px;}
.site-top .site-logo{float: left;width:150px; height:50px;}
.site-top .site-logo a{display: block;width:150px; height:50px;background: url(../images/12306NG_logo.png);text-indent: -999em;}
.site-top .site-nav{float: left;margin-left:40px;}
.site-top .site-nav a{float: left;width:62px; height:50px;text-align: center;font:16px/50px 'microsoft yahei';outline:none;}
.site-top .site-nav a:link,
.site-top .site-nav a:visited{color: #000;}
.site-top .site-nav a:hover,
.site-top .site-nav a:focus,
.site-top .site-nav a.on{background: url(../images/li_hover.png) no-repeat; text-decoration: none;}
.site-top .sign-board{float: right;}
.site-top .sign-board a{float: left; width:53px; height:30px;text-indent: -999em;margin:10px 5px 0 0;}
.site-top .sign-board .login{background:url(../images/login_btn.png) no-repeat;}
.site-top .sign-board .reg{background:url(../images/reg_btn.png) no-repeat;}
.site-top .sign-board .hi{width:100px; height:30px;background:url(../images/my12306_button.png) no-repeat;}
/**
 * 页面底部
 */
.footer{background: #eee;height: 40px;}
.footer .footer-logo{float: left;}
.footer .footer-logo a{display: block;width:116px; height:40px;background:url(../images/bottom_logo.png) no-repeat;text-indent: -999em;}
.footer .footer-nav{float: right;color: #999;padding: 10px 10px 0 0;}
.footer .footer-nav a:link,
.footer .footer-nav a:visited{color: #999;}